body {
    background-color: #6BBFFF;
}
header {
    width: 100%;
    height: 50px;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
}

.line {
    margin-top: 5px; margin-bottom: 5px;
    border: 1px solid black;
}

.menu-header {
    justify-content: center;
}
.blank {
    width:100%;
    height: 60px;
    /* background-color: #6BBFFF; */
}

.nav-bar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display:none;
}
.nav-bar li {
    float: right;
    border-right: 1px solid #bbb;
}
.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar a:hover {
    background-color: #111;
}
.nav-bar a.active {
    background-color: #2699FB;
    /* background-color: #04AA6D; */
}
.nav-bar a:hover:not(.active) {
    background-color: #111;
}

.menu-icon {
    align-self: center;
}
.menu-page-icon {
    align-self: center;
}

.nav-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #B9E3FF;
    border: 1px solid #555;
}
.nav-menu li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.nav-menu li {
    text-align: center;
    border-bottom: 1px solid #555;
    font-size: 24px;
}
.nav-menu li a:hover {
    background-color: aqua;
}
.nav-menu a.active {
    background-color: #04AA6D;
    color: white;
}

.page-layout {
    display: flex;
    flex-direction: column;
}
.home-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
}
.box {
    background-color: #B9E3FF;
    color: black;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    /* opacity: 0.6; */
    transition: 0.5s;
}
.home-grid > .box:hover {
    background-color: aqua;
    font-size: 150%;
    /* opacity: 1; */
}
.welcome {
    grid-column: 1/3;
    grid-row: 1/3;
}
.welcome.box:hover {background-color: #B9E3FF}
.welcome > p {
    font-size: 20px;
}
.one {
    grid-column: 1/3;
    grid-row: 3/4;
}
.two {
    grid-column: 1/3;
    grid-row: 4/5;
}
.three {
    grid-column: 1/3;
    grid-row: 5/6;
}
.four {
    grid-column: 1/3;
    grid-row: 6/7;
}

.content {
    background-color: #B9E3FF;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
.content > h1, h3 {
    text-align: center;
}
.content > p {
    margin-top:0pt; 
    margin-left:36pt; 
    margin-bottom:8pt;
}

.lecture-notes {
    display: grid;
    gap: 1rem;

    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    background-color: #B9E3FF;
    color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
}
.lecture-notes > img {
    max-width: 100%;
    height: auto;
}
.lecture-notes > p {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.homework-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.handout-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.homework-grid > .box:hover {
    background-color: aqua;
    /* font-size: 150%; */
}
.handout-grid > .box:hover {
    background-color: aqua;
    /* font-size: 150%; */
}

.exam-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.other-material {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.box > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.box > ul > li > a:hover {
    color: #2699FB;
}
.box > ul > li > a:active {
    color: red;
}
p > a:hover {
    color: #2699FB;
}
p > a:active {
    color: red;
}

footer.box {
    background-color: #2699FB;
    color: white;
    margin-top: 25px;
    padding-top: 10px; padding-bottom: 10px;
}



@media screen and (min-width: 600px) { 
    .home-grid {
        height: 70vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .one {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .two {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .three {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .four {
        grid-column: 2/3;
        grid-row: 4/5;
    }

    .lecture-notes {
        grid-template-columns: 1fr 3fr;
    }
    .lecture-notes > p {
        border-bottom: none;
    }

    .homework-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .handout-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

}

@media screen and (min-width: 800px) { 
    .menu-icon {
        display: none;
    }
    .nav-bar > ul {
        display: inline-flex;
    }
    header {
        justify-content: flex-start;
    }

    .exam-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    .other-material {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .homework-grid > .box:hover {
        font-size: 110%;
    }
    .handout-grid > .box:hover {
        font-size: 110%;
    }
}